{% extends 'base.html' %} {% block content %}

<!-- 메인 SECTION -->
<div>
    <div>
        <h1>{{question.title}}</h1>
        <span>{{question.location}}</span>
        <span>No.{{question.id}}</span>            
    </div>
    <div>
        <span>{{question.writer}}</span>
        <span>{{question.date}}</span>
    </div>
    <div>
        <span>{{question.content}}</span>
        {% if question.image %}
        <img src="{{question.image.url}}" height="600">
        {% endif %}
        
    </div>     
</div>
{% if question.writer == user.username %}
    <a href="{% url 'q_edit' question.id %}">수정하기</a>
    <a href="{% url 'q_delete' question.id %}">질문 삭제</a>
{%endif%}
<a href="{% url 'qna_list' %}">첫 페이지</a>
<br>
<br>
<br>
<p>{{question.answer_set.count}}개의 답변</p>
<div>
    <ul>
    {% for answer in question.answer_set.all %}
        <a href="{% url 'a_detail' answer.id %}">{{answer.writer}}님의 답변입니다.</a><br>
    {%endfor%}
    </ul>
</div>

{% if user.membership %}
    {% if user.username != question.writer %}
        <a href="{%url 'a_new' question.id %}">답변하기</a>
    {%endif%}
{%endif%}
{% endblock%}