<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>질문 상세 보기</title>
</head>
<body>
    <div>
        <div>
            <h1>{{question.title}}</h1>
            <span>{{question.location}}</span>
            <span>No.{{question.id}}</span>            
        </div>
        <div>
            <span>{{question.writer}}</span>
            <span>{{question.date}}</span>
        </div>
        <div>
            <span>{{question.content}}</span>
            <img src="{{question.image}}">
        </div>     
    </div>
    <a href="{% url 'edit' question.id %}">수정하기</a>
    <a href="{% url 'delete'%}">질문 삭제</a>
</body>
</html>