{% extends 'base.html' %} {% block content %}

<p>{{answer.question.title}}의 대한 답변</p>
{%if answer.like %}
<p>채택되었습니다.</p>
{%endif%}
<br>
<p>{{answer.writer}}</p>
<p>{{answer.date}}</p><br>
<p>{{answer.content}}</p>
{% if answer.image %}
   <p><img src="{{answer.image.url}}" height="600"></p>
{% endif %}

{%if answer.writer == user.username %}
   <a href="{% url 'a_edit' answer.id %}">답변 수정</a>
   <a href="{% url 'a_delete' answer.id %}">답변 삭제</a>
{%endif%}
{% if answer.question.writer == user.username %}
   {%if not answer.question.vote %}
      <a href="{% url 'a_adopt' answer.id %}">채택하기</a>
   {% endif %}
{% endif %}
<a href="{% url 'q_detail' answer.question.id %}">질문으로 돌아가기</a>

{% endblock%}