.question_header{
    display: flex;
    justify-content: space-between;
}


.qna_detail{
    border: 1px solid #52aace;
    border-radius: 1rem;
    margin: 1rem 0rem;
    padding: 1rem;
}

.q_detail_title{
    font-size: 30px;
    text-align: center;
    padding: 10px;
}

.q_detail_content{
    display: block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    line-height: 1.5;
    word-wrap: break-word;
    
}

.q_img{
    margin: 1.5rem 0rem;
    display: inline;
    height:25rem;
}
.qna_modify a{
    font-weight: 600;
    padding: 0.3rem;
    margin-right: 0.2rem;
    background-color: #52aace;
    border-radius: 0.6rem;
    color: cornsilk;
}

.qna_data{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    padding: 0.5rem;
    padding-top: 0rem;
    padding-bottom: 1rem;
    font-size: 1.3rem;
}

.answer_header{
    display: flex;
    justify-content: flex-end;
    padding: 1rem 0rem;
    margin: 0rem 0rem;
    margin-bottom: 0.5rem;
}

.answer_head{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0rem;
}

.answer_head a{
    padding: 0.5rem;
}

.answer_head span{
    font-size: 1.5rem;
    font-weight: 800;
}

.answer_detail{
    margin: 0rem 0rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.answer_edit{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
}

.answer_is_voted{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.another_answer{
    display: flex;
    justify-content: flex-end;
    margin: 2rem 0rem;
}
.another_answer a{
    padding: 0.6rem 0.3rem;
}