.title_align {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #52aace;
  padding-bottom: 1rem;
}

.main_head {
  font-family: "HeyAugust";
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 2.5rem;
  color: #47a3bf;
}

.form_align_center {
  font-size: 5rem;
  text-align: center;
  margin: 4rem auto;
}

.header_align {
  border-radius: 1rem;
  margin: 2rem auto;
  margin-top: 1rem;
  position: relative;
}

.section_align {
  position: relative;
  border-bottom: 1px solid #47a3bf;
}

.footer_align {
  margin: 1rem auto;
  position: relative;
}

.login_align {
  text-align: center;
}
