.trator_guide {
    font-size: 2rem;
    padding: 1rem;
    font-weight: 600;
    text-align:center;
    color:mediumseagreen;
}

.g_detail_title {
    font-size: 30px;
    text-align: center;
    padding: 10px;
}

.g_detail_writer {
    /* font-size: 30px; */
    
    display: inline;
    position: relative;
    left: 70%;

}

.g_detail_time {
    /* font-size: 30px; */
    
    display: inline;
    position: relative;
    left: 70%;
}

.g_detail_content {
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 1.5;
}

.g_detail_price {
    /* padding-left: 30px; */
}

.g_detail_spots {
    /* padding-left: 30px; */
    padding-bottom: 40px;
}

.g_image {
    display: inline;
    height:400px; width:450px;
}
#map {
    height:400px;  width: 450px;
    left : 500px;
    bottom: 445px;
     
}

.g_delete_update {
    padding-top:30px;
}

