.trator_guide {
    font-size: 2rem;
    padding: 1rem;
    font-weight: 600;
    text-align:center;
    color : #52aace;
}

.g_detail_title {
    font-size: 30px;
    text-align: center;
    padding: 10px;
}

.g_detail_writer {
    /* font-size: 30px; */
    
    display: inline;
    position: relative;
   
    

}

.g_detail_time {
    /* font-size: 30px; */
    display: inline;
    position: relative;
    left : 37rem;
}

.g_detail_content {
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 1.5;
    
}



.g_detail_spots {
    /* padding-left: 30px; */
    padding-bottom: 40px;
    
}

.g_image {
    display: inline;
    height:400px; width:450px;
    
    
}
#map {
    height:500px;  width: 100%;
    position: relative;

    
   
}


.btn {
    position: relative;
    padding: 0.4rem;
    border-radius: 10px;
    color: cornsilk;
    background-color: #52aace;
    

}
    
.btn:hover{
     background-color: cornsilk;
    color: rgba(0, 0, 0, 0.5);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width : 15rem;
}

.detail_wrap {
    border: 1px solid;
    border-color: #52aace;
    border-radius: 10px;
    padding:30px;
}

    
    

/* 
.map_wrap {
    
    height:400px;  width: 450px;
    position: relative;
    background-color: mediumvioletred;
} */
