<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <tr class = "text-center">
                <th>제목</th>
                <th>작성자</th>
                <th>작성 시간</th>
            </tr>
        </thead>
        <tbody>
            {% if search_list %}
            {% for list in search_list %}
            <div >
                <h2>{{location}} 검색결과</h2>
            <tr class="text-center">
                <td><a href="{% url 'guide_detail' list.id %}"> {{ list.title|truncatechars:30 }}</a></td>
                <td>{{ list.writer }}</td>
                <td>{{ list.date|date:'Y. m. d' }}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr class ="text-center">
                <td colspan="5">
                    작성된 게시글이 없습니다.
                </td>
            </tr>
        </div>
            {% endif %}
        </tbody>
    </table>

    <br>
    {% if request.user %}
        <a href="{% url 'guide_new' %}" >새 글 작성하기</a>
    {% endif %}
   
</body>
</html>