{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    {% block content %}
    <table>
        <thead>
            <tr class = "text-center">
                <th>제목</th>
                <th>작성자</th>
                <th>작성 시간</th>
            </tr>
        </thead>
        <tbody>
            {% if guide_list %}
            {% for list in guide_list %}
            <div >
                
            <tr class="text-center">
                <td><a href="{% url 'guide_detail' list.id %}">
                    {{ list.title|truncatechars:30 }}</a></td>
                <td>{{ list.writer }}</td>
                <td>{{ list.date|date:'Y. m. d' }}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr class ="text-center">
                <td colspan="5">
                    작성된 게시글이 없습니다.
                </td>
            </tr>
        </div>
            {% endif %}
        </tbody>
    </table>

    <br>
    {% if request.user %}
        <a href="{% url 'guide_new' %}" >새 글 작성하기</a>
    {% endif %}

    <form action="{%url 'guide_search_by_location' %}" method="GET">
        <select id="location" name="location">
            <option value="국내">국내</option>
            <option value="북미">북미</option>
            <option value="남미">남미</option>
            <option value="유럽">유럽</option>
            <option value="아시아">아시아</option>
            <option value="오세아니아">오세아니아</option>
        </select>
       <button type="submit">검색하기</button>
    </form>

    {% endblock %}
</body>
</html>