
{% extends 'base.html' %}
    {% block content %}
    <div class="wrap_section">
    <form action="{% url 'guide_new' %}" method='POST' enctype ="multipart/form-data">
        {% csrf_token %}
        <div class ="new_guide_title">새 가이드 작성</div>
        <br>
        <div class ="new_wrap">
        <div class ="title">
        <label for="title">제목: </label>
        <input type="text" id="title" name="title" >
    </div>

    <div class="location">
        <label for="location">지역: </label>
        <select id="location" name="location">
            <option value="국내">국내</option>
            <option value="북미">북미</option>
            <option value="남미">남미</option>
            <option value="유럽">유럽</option>
            <option value="아시아">아시아</option>
            <option value="오세아니아">오세아니아</option>
        </select>
    </div>
    
        
        <br>
        
        

        <textarea cols="100 " rows="20" id="content" name="content" class="content" ></textarea>
        
        
        
        <div class="price" style="position: relative; display:inline">
            <label for="price">가격</label>
            <input type="number" id="price" name="price">
        </div>

        <div class="image" style="position: relative;  display:inline;">
            <label for="image"><i class="far fa-images img_icon">:</i></label>
            <input type="file" id="image" name="image" style=" width:250px; position: relative; bottom:5px;">
        </div>
        <h1 class="info">장소검색이 끝나면 오른쪽 버튼을 눌러주세요</h1>
        
            <button type="submit" class="submit" style="position: relative; top:630px; display:inline; left:100px;">글 올리기</button>
        
        </div>
        
        </form>
        
        <div class="map_wrap">
            <div id="map" style="width:100%;height:500px;position:relative;overflow:hidden; top:10px;left:10px;"></div>
        
            <div id="menu_wrap" class="bg_white">
                <div class="option">
                    <div>
                        <form onsubmit="searchPlaces(); return false;">
                            키워드 : <input type="text" value="이태원 맛집" id="keyword" size="15"> 
                            <button type="submit">검색하기</button> 
                        </form>
                    </div>
                </div>
                <hr>
                <ul id="placesList"></ul>
                <div id="pagination"></div>
            </div>
        </div>
        
        <br><br><br><br><br><br>
        <button id="map_data" type="submit" style="position: relative; bottom:625px; left:770px">장소 검색 끝</button>
        
        
    </div>
        <br>
        <br>

    </div>
        

        <script src="https://kit.fontawesome.com/2eb21cad7a.js" crossorigin="anonymous">
        </script>

        
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c6c555277e504f8c39203764bdea1d03&libraries=services"></script>
       
        <script>
        // 마커를 담을 배열입니다
        var markers = [];

        var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
            mapOption = {
                center: new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };  

        // 지도를 생성합니다    
        var map = new kakao.maps.Map(mapContainer, mapOption); 

        // 장소 검색 객체를 생성합니다
        var ps = new kakao.maps.services.Places();  

       

        // 검색 결과 목록이나 마커를 클릭했을 때 장소명을 표출할 인포윈도우를 생성합니다
        var infowindow = new kakao.maps.InfoWindow({
            zIndex:1,
         //   content : iwContent
        });

        // 키워드로 장소를 검색합니다
        searchPlaces();

        // 키워드 검색을 요청하는 함수입니다
        function searchPlaces() {

            var keyword = document.getElementById('keyword').value;

            if (!keyword.replace(/^\s+|\s+$/g, '')) {
                alert('키워드를 입력해주세요!');
                return false;
            }

            // 장소검색 객체를 통해 키워드로 장소검색을 요청합니다
            ps.keywordSearch( keyword, placesSearchCB); 
        }

        // 장소검색이 완료됐을 때 호출되는 콜백함수 입니다
        function placesSearchCB(data, status, pagination) {
            if (status === kakao.maps.services.Status.OK) {

                // 정상적으로 검색이 완료됐으면
                // 검색 목록과 마커를 표출합니다
                displayPlaces(data);

                // 페이지 번호를 표출합니다
                displayPagination(pagination);

            } else if (status === kakao.maps.services.Status.ZERO_RESULT) {

                alert('검색 결과가 존재하지 않습니다.');
                return;

            } else if (status === kakao.maps.services.Status.ERROR) {

                alert('검색 결과 중 오류가 발생했습니다.');
                return;

            }
        }

        // 검색 결과 목록과 마커를 표출하는 함수입니다
        function displayPlaces(places) {

            var listEl = document.getElementById('placesList'), 
            menuEl = document.getElementById('menu_wrap'),
            fragment = document.createDocumentFragment(), 
            bounds = new kakao.maps.LatLngBounds(), 
            listStr = '';
            
            // 검색 결과 목록에 추가된 항목들을 제거합니다
            removeAllChildNods(listEl);

            // 지도에 표시되고 있는 마커를 제거합니다
            removeMarker();
            
            for ( var i=0; i<places.length; i++ ) {

                // 마커를 생성하고 지도에 표시합니다
                var placePosition = new kakao.maps.LatLng(places[i].y, places[i].x),
                    marker = addMarker(placePosition, i), 
                    itemEl = getListItem(i, places[i]); // 검색 결과 항목 Element를 생성합니다
                   
                // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
                // LatLngBounds 객체에 좌표를 추가합니다
                bounds.extend(placePosition);
                //여기까지는 됨
               
              
                // 마커와 검색결과 항목에 mouseover 했을때
                // 해당 장소에 인포윈도우에 장소명을 표시합니다
                // mouseout 했을 때는 인포윈도우를 닫습니다
                (function(marker, title) {
                   
                    kakao.maps.event.addListener(marker, 'mouseover', function() {
                        
                        displayInfowindow(marker, title);
                    });

                    // kakao.maps.event.addListener(marker, 'mouseout', function() {
                    //     infowindow.close();
                    // });

                    itemEl.onmouseover =  function () {
                        displayInfowindow(marker, title);
                    };

                    itemEl.onmouseout =  function () {
                        infowindow.close();
                    };
                })(marker, places[i].place_name);

                fragment.appendChild(itemEl);
            }

            // 검색결과 항목들을 검색결과 목록 Elemnet에 추가합니다
            listEl.appendChild(fragment);
            menuEl.scrollTop = 0;

            // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
            map.setBounds(bounds);
        }

        // 검색결과 항목을 Element로 반환하는 함수입니다
        function getListItem(index, places) {

            var el = document.createElement('li'),
            itemStr = '<span class="markerbg marker_' + (index+1) + '"></span>' +
                        '<div class="info">' +
                        '   <h5>' + places.place_name + '</h5>';

            if (places.road_address_name) {
                itemStr += '    <span>' + places.road_address_name + '</span>' +
                            '   <span class="jibun gray">' +  places.address_name  + '</span>';
            } else {
                itemStr += '    <span>' +  places.address_name  + '</span>'; 
            }
                        
            itemStr += '  <span class="tel">' + places.phone  + '</span>' +
                        '</div>';           

            el.innerHTML = itemStr;
            el.className = 'item';

            return el;
        }

        // 마커를 생성하고 지도 위에 마커를 표시하는 함수입니다
        function addMarker(position, idx, title) {
            var imageSrc = 'https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png', // 마커 이미지 url, 스프라이트 이미지를 씁니다
                imageSize = new kakao.maps.Size(36, 37),  // 마커 이미지의 크기
                imgOptions =  {
                    spriteSize : new kakao.maps.Size(36, 691), // 스프라이트 이미지의 크기
                    spriteOrigin : new kakao.maps.Point(0, (idx*46)+10), // 스프라이트 이미지 중 사용할 영역의 좌상단 좌표
                    offset: new kakao.maps.Point(13, 37) // 마커 좌표에 일치시킬 이미지 내에서의 좌표
                },
                markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imgOptions),
                    marker = new kakao.maps.Marker({
                    position: position, // 마커의 위치
                    image: markerImage 
                });

            marker.setMap(map); // 지도 위에 마커를 표출합니다
            markers.push(marker);  // 배열에 생성된 마커를 추가합니다

            return marker;
        }

        // 지도 위에 표시되고 있는 마커를 모두 제거합니다
        function removeMarker() {
            for ( var i = 0; i < markers.length; i++ ) {
                markers[i].setMap(null);
            }   
            markers = [];
        }

        // 검색결과 목록 하단에 페이지번호를 표시는 함수입니다
        function displayPagination(pagination) {
            var paginationEl = document.getElementById('pagination'),
                fragment = document.createDocumentFragment(),
                i; 

            // 기존에 추가된 페이지번호를 삭제합니다
            while (paginationEl.hasChildNodes()) {
                paginationEl.removeChild (paginationEl.lastChild);
            }

            for (i=1; i<=pagination.last; i++) {
                var el = document.createElement('a');
                el.href = "#";
                el.innerHTML = i;

                if (i===pagination.current) {
                    el.className = 'on';
                } else {
                    el.onclick = (function(i) {
                        return function() {
                            pagination.gotoPage(i);
                        }
                    })(i);
                }

                fragment.appendChild(el);
            }
            paginationEl.appendChild(fragment);
        }

        // 검색결과 목록 또는 마커를 클릭했을 때 호출되는 함수입니다
        // 인포윈도우에 장소명을 표시합니다
        function displayInfowindow(marker, title) {
            //var loc_param = new String(title)
           // alert(marker);
            // var content = '<div style="padding:5px;z-index:1;">' + title + '</div>' 
            // + '<div style="padding:5px;z-index:1;">' +'<a href="javascript:select_location('+loc_param+');" style="color:blue">장소 선택하기</a>'+ '</div>'
         // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다;
            var content =  '<div style="padding:5px;z-index:1;">' + title + '</div>' + '<div style="padding:5px;z-index:1;">' +  
            '<button type="button" onclick="select_location(\'' + title +"/"+ marker.getPosition() + '\')">장소 선택하기</button></div>'
            infowindow.setContent(content);
            infowindow.open(map, marker);
        }

        // 검색결과 목록의 자식 Element를 제거하는 함수입니다
        function removeAllChildNods(el) {   
            while (el.hasChildNodes()) {
                el.removeChild (el.lastChild);
            }
        }


        var selected_location ={} //dict
        var cnt=0;

        function select_location(selected_info) {
            //리스트?에 장소 추가
            //selected_location[loc]='ss';
            // alert(marker['placePosition']);
            // console.log(marker);
            //alert(Object.keys(selected_location));
            const arr = selected_info.split('/')
            alert(arr[0]+"가(이) 선택되었습니다");
            selected_location[arr[0]]=arr[1];
            cnt++;
        }

        var URL = "{% url 'save_map_data' %}"
        $("#map_data").click(function(){
            // views.py로 selected_location을 넘겨서 저장
            var data = {
                'keys' : Object.keys(selected_location),
                'keysvalues' :selected_location,
                'cnt' :cnt
            }
            if (data['keys'].length== 0 ) alert ("하나 이상 선택하세요");
            else alert("저장되었습니다");

            $.post(URL, JSON.stringify(data));
        });

       
        </script>
        


      
  
    {% endblock %}
    
