{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% block content %}
    {% if guide_detail %}
        <h1>제목 : {{guide_detail.title}}</h1>
        <br>
        <h2>작성자 : {{guide_detail.writer}}</h2>
        <br>
        <h2>작성 시간 : {{guide_detail.date}}</h2>
        <br>
        <h2>가격 : {{guide_detail.price}}</h2>
        <h2>내용 : {{guide_detail.content}} </h2>
        {% if guide_detail.image %}
        <image src ="{{guide_detail.image.url}}" height="600"></image>
        {% endif %}
        <br>

        {% if guide_detail.writer == request.user.username %}
        <a href="{% url 'guide_delete' guide_detail.id %}">글 삭제하기</a>

        <a href ="{% url 'guide_update' guide_detail.id %}">글 수정하기</a>
        {% endif %}
    {% endif %}
    
    {% endblock %}
    
</body>
</html>
