{% extends 'base.html' %}

    {% block content %}
    <div class="wrap_section">
    <div style="font-size: 30px; font-weight: bold; text-align: center;color:#52aace;">글 수정하기</div>
    <br>
    <form action="{% url 'guide_update' guide_update.id %}" method='POST' enctype ="multipart/form-data">
        {% csrf_token %}
            {% if guide_update %}
                <div>
                    <label for="title">제목: </label>
                    <input type="text" id="title" name="title" value="{{guide_update.title}}">

                    <label for="location">지역: </label>
                    <select id="location" name="location" value="{{guide_update.location}}">
                        <option value="국내">국내</option>
                        <option value="북미">북미</option>
                        <option value="남미">남미</option>
                        <option value="유럽">유럽</option>
                        <option value="아시아">아시아</option>
                        <option value="오세아니아">오세아니아</option>
                    </select>
                    <br>
                    <span class="content">
                    <textarea cols="100" rows="20" id="content" name="content">{{guide_update.content}}</textarea>
                </span>
                    <br>

                    <div class="container">
                        <div class="price">
                    <label for="price">가격</label>
                    <input type="number" id="price" name="price" value="{{guide_update.price}}">
                    
                    </div>
                    
                    <label for="image"><i class="far fa-images img_icon">:</i></label>
                    <input type="file" style="width: 300px" id="image" name="image" >
                

                    <button type="submit">글 수정하기</button>
                </div>
                </div>
            {% endif %}
    </form>
</div>

<script src="https://kit.fontawesome.com/2eb21cad7a.js" crossorigin="anonymous"></script>
    {% endblock %}
