{% extends 'base.html' %}

    {% block content %}
    <form action="{% url 'guide_update' guide_update.id %}" method='POST' enctype ="multipart/form-data">
        {% csrf_token %}
            {% if guide_update %}
                <div>
                    <label for="title">제목: </label>
                    <input type="text" id="title" name="title" value="{{guide_update.title}}">

                    <label for="location">지역: </label>
                    <select id="location" name="location" value="{{guide_update.location}}">
                        <option value="국내">국내</option>
                        <option value="북미">북미</option>
                        <option value="남미">남미</option>
                        <option value="유럽">유럽</option>
                        <option value="아시아">아시아</option>
                        <option value="오세아니아">오세아니아</option>
                    </select>
                    <br>

                    <textarea cols="120" rows="20" id="content" name="content">{{guide_update.content}}</textarea>
                    <br>

                   
                        <div class="price">
                    <label for="price">가격</label>
                    <input type="number" id="price" name="price" value="{{guide_update.price}}">
                    
                    </div>
                    <div class="image">
                    <label for="image">이미지 첨부</label>
                    <input type="file" style="width: 300px" id="image" name="image" >
                </div>
                    
                    <br>

                    <button type="submit" style="position:relative; left:800px; bottom:50px;">글 수정하기</button>
                </div>
            {% endif %}
    </form>
    {% endblock %}
