.nav_align {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid #52aace;
  color: #1c4961;
}

.nav_menu {
  display: flex;
}

.nav_menu_align {
  display: flex;
}

.nav_menu_align_left {
  display: flex;
  margin-right: 15px;
}

.nav_menu_align_right {
  margin-left: 15px;
  display: flex;
}
