{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        /* #kakaopay_btn {
            border: none ;
            outline :none ;
        } */
    </style>
</head>


<body>
{% block content %}
<div class="row mt-5">
    <h1 class="col-12 text-center my-2" style="font-size: 20px; font-weight: bold;">카카오페이로 결제하기</h1>
    <form method="post" class="col-12 text-center" action="kakaopay_process">
      {% csrf_token %}
      <button type="submit" id="kakaopay_btn" style="border: none;"><img src="{% static '카카오페이.png' %}" alt=""></button>
    </form>
  </div>
  {% endblock %}
</body>
</html>
