{% extends 'base.html' %} {% block content %}

<!-- 메인 SECTION -->
<section>
  <div class="first_home_frame">
    <h3>안녕하세요 여행자님! 나만의 여행 멘토를 찾아보세요!</h3>
  </div>
  <div class="second_home_frame">
    <div class="home_frame">
      <a href="{%url 'qna_list'%}"
        ><img class="home_frame_div1" src="/static/images/div1.jpg" alt=""
      /></a>
      <!-- <div >1</div> -->
      <div class="home_frame_div2">
        <a href="{%url 'qna_list'%}">
          <img
            class="home_frame_div2_div1"
            src="/static/images/div2-1.jpg"
            alt=""
          />
        </a>
        <a href="{% url 'guide_list' %}">
          <img
            class="home_frame_div2_div2"
            src="/static/images/div2-2.jpg"
            alt=""
          />
        </a>
      </div>
    </div>
  </div>
</section>
{% endblock%}
