{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trator</title>
    <!-- PAGE ICON -->
    <link rel="shortcut icon" type="image/x-icon" href="image/main_icon.png" />
    <!-- BOOTSTRAP LINK -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!-- DEFAULT CSS LINK -->
    <link rel="stylesheet" type="text/css" href="{%static 'css/styles.css'%}" />
  </head>
  <body>
    <!-- 메인 TITLE -->
    <h1 class="main_head">회원가입</h1>
    <!-- 메인 SECTION -->
    <section class="main_section">
      <form action="{% url 'Account:signup'%}" method="post">
        {% csrf_token %}
        <!-- {% if hello_wolrd_ouput %}
          {% for hello_world in hello_world_list %}
        <h1>
          {{hello_wolrd.text}}
        </h1>
          {% endfor %}
        {% endif %} -->
        <div class="form_align">
          <div class="form_detail_align">
            <h3>이메일</h3>
            <input type="text" placeholder="이메일" name="email" />
          </div>
          <div class="form_detail_align">
            <h3>비밀번호</h3>
            <h5>8자 이상 입력해주세요.</h5>
            <input type="password" placeholder="비밀번호" name="password1" />
          </div>
          <div class="form_detail_align">
            <h3>비밀번호 확인</h3>
            <input
              type="password"
              placeholder="비밀번호 확인"
              name="password2"
            />
          </div>
          <div class="form_detail_align">
            <h3>별명</h3>
            <h5>다른 유저와 겹치지 않는 별명을 입력해주세요. (2~15자)</h5>
            <input type="text" placeholder="별명(2~15자)" name="username" />
          </div>
          <div class="form_detail_align">
            <h3>핸드폰 번호</h3>
            <input type="text" placeholder="핸드폰번호" name="phone_number" />
          </div>
          <div class="form_detail_align">
            <button type="submit">완료</button>
          </div>
        </div>
      </form>
    </section>
  </body>
</html>
