<div style="height: 10rem; border-radius: 1rem; margin: 2rem">
  <!-- 메인 TITLE -->
  <h1 class="main_head">Trator</h1>
  <!-- 메인 NAV -->
  <div class="main_nav">
    <div class="nav_align">
      <div class="nav_menu_align">
        <div class="nav_menu_align_left"><a href="">홈</a></div>
        <div class="nav_menu_align_left"><a href="">가이드</a></div>
        <div><a href="{%url 'qna_list'%}">여행질문</a></div>
      </div>
      <div class="nav_menu_align">
        <div class="nav_menu_align_right"><a href="">로그인</a></div>
        <div class="nav_menu_align_right"><a href="">회원가입</a></div>
      </div>
    </div>
  </div>
</div>
