<!DOCTYPE html>
<html lang="ko">
  <head>
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="shortcut icon" type="image/x-icon" href="image/main_icon.png" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trator</title>
  </head>
  <body>
    <!-- 메인 TITLE -->
    <h1 class="main_head">Trator</h1>
    <!-- 메인 NAV -->
    <div class="main_nav">
      <div class="nav_align">
        <div class="nav_menu_align">
          <div class="nav_menu_align_left"><a href="">홈</a></div>
          <div class="nav_menu_align_left"><a href="">가이드</a></div>
          <div><a href="">여행질문</a></div>
        </div>
        <div class="nav_menu_align">
          <div class="nav_menu_align_right"><a href="">로그인</a></div>
          <div class="nav_menu_align_right"><a href="">회원가입</a></div>
        </div>
      </div>
    </div>
    <!-- 메인 SECTION -->
    <section class="main_section">
      <form action="">
        <div></div>
      </form>
    </section>
    <!-- 메인 FOOTER-->
    <footer></footer>
  </body>
</html>
