<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trator</title>
    <style>
      .main_head {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .nav_menu {
        display: text;
        box-decoration-break: none;
      }
    </style>
  </head>
  <body>
    <h1 class="main_head">main page</h1>
    <div class="nav_menu">
      <div>
        <button>가이드</button>
        <button>여행질문</button>
      </div>
      <div>
        <button>회원가입</button>
      </div>
    </div>

    <section>
      <form action="">
        <div></div>
      </form>
    </section>
    <footer></footer>
  </body>
</html>
