<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trator</title>
    <style>
      .main_head {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .nav_menu {
        display: text;
      }
    </style>
  </head>
  <body>
    <h1 class="main_head">main page</h1>
    <nav>
      <div class="nav_menu">가이드</div>
      <div class="nav_menu">여행질문</div>
    </nav>
    <section>
      <form action="">
        <div></div>
      </form>
    </section>
    <footer></footer>
  </body>
</html>
