<!DOCTYPE html>
<html lang="ko">
  <head>
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="shortcut icon" type="image/x-icon" href="image/main_icon.png" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trator</title>
  </head>
  <body>
    <!-- 메인 TITLE -->
    <h1 class="main_head">회원가입</h1>
    <!-- 메인 NAV -->
    <!-- <div class="main_nav">
      <div class="nav_align">
        <div class="nav_menu_align">
          <div class="nav_menu_align_left"><a href="">홈</a></div>
          <div class="nav_menu_align_left"><a href="">가이드</a></div>
          <div><a href="">여행질문</a></div>
        </div>
        <div class="nav_menu_align">
          <div class="nav_menu_align_right"><a href="">회원가입</a></div>
        </div>
      </div>
    </div> -->
    <!-- 메인 SECTION -->
    <section class="main_section">
      <form action="">
        <div class="form_align">
          <div class="form_detail_align">
            <h3>이메일</h3>
            <input type="text" placeholder="이메일" />
          </div>
          <div class="form_detail_align">
            <h3>비밀번호</h3>
            <h5>8자 이상 입력해주세요.</h5>
            <input type="password" placeholder="비밀번호" />
          </div>
          <div class="form_detail_align">
            <h3>비밀번호 확인</h3>
            <input type="password" placeholder="비밀번호 확인" />
          </div>
          <div class="form_detail_align">
            <h3>별명</h3>
            <h5>다른 유저와 겹치지 않는 별명을 입력해주세요. (2~15자)</h5>
            <input type="text" placeholder="별명(2~15자)" />
          </div>
          <div class="form_detail_align">
            <h3>핸드폰 번호</h3>
            <input type="text" placeholder="핸드폰번호" />
          </div>
          <div class="form_detail_align">
            <button type="submit">완료</button>
          </div>
        </div>
      </form>
    </section>
    <!-- 메인 FOOTER-->
    <footer></footer>
  </body>
</html>
